/* Nadpis */
h1 {
    color: #333; /* Farba textu */
    font-size: 36px; /* Veľkosť písma */
    text-align: center; /* Zarovnanie textu na stred */
    margin-top: 50px; /* Odstup nad nadpisom */
}

/* Podnadpis */
h2 {
    color: rgb(19, 58, 55); /* Farba textu */
    font-size: 25px; /* Veľkosť písma */
    font-weight: bold; /* Tučné písmo */
    text-align: center; /* Zarovnanie textu na stred */
    margin-bottom: 20px; /* Odstup pod podnadpisom */
    margin-top: 40px; /* Odstup pod podnadpisom */
}

/* Pozadie */
body {
    background-color: #a1e4e0; /* Farba pozadia */
    font-family: Arial, sans-serif; /* Nastavenie písma */
}

/* Formulár */
form[name="login_form"] {
    margin: 0 auto; /* Horizontálne zarovnanie formulára */
    max-width: 400px; /* Maximálna šírka formulára */
    padding: 20px; /* Odsadenie okolo formulára */
    background-color: #fff; /* Farba pozadia formulára */
    border-radius: 10px; /* Zaoblenie okrajov formulára */
    text-align: center; /* Zarovnanie obsahu na stred */
}

/* Label pre vstupy */
label {
    display: block; /* Zobraziť labely na samostatných riadkoch */
    margin-bottom: 10px; /* Odstup medzi labelmi */
    text-align: left; /* Zarovnanie textu labelu vľavo */
}


p {
    text-align: center; /* Zarovnanie textu na stred */
    margin-top: 10px; /* Odstup nad obsahom */
    padding-bottom: 50px; /* Odstup pod obsahom */
}

/* Tail (spodok stránky) */
footer {
    text-align: center; /* Zarovnanie textu na stred */
    margin-top: 50px; /* Odstup nad obsahom */
    padding-bottom: 50px; /* Odstup pod obsahom */
}

table {
    border-collapse: collapse;
    width: 90%; /* Nastavenie šírky tabuľky na 80% */
    margin: auto; /* Zarovnanie tabuľky na stred stránky */
    border-radius: 10px;
}

th, td {
    border: 1.5px solid rgb(38, 77, 74); /* Biely okraj */
    padding: 6px;
    text-align: center;
}

th {
    background-color: rgb(43, 88, 85); /* Farba hlavičky */
    color: #fff; /* Biela farba textu v hlavičke */
}

td {
    cursor: pointer;
    background-color: #fff; /* Biele pozadie buniek */
}

.table-container {
    overflow-x: auto; /* Horizontálne posúvanie s priebežným posúvaním */
    max-width: 100%; /* Určuje maximálnu šírku kontajnera */
}

.table-container th,
.table-container td {
    padding: 2px; /* Padding pre bunky tabuľky */
}

.selected-prefer {
    background-color: #4CAF50;
    color: white;
}

.selected-nonprefer {
    background-color: #e74c3c;
    color: white;
}

div.label {
    padding: 5px; /* Odsadenie vnútri divu */
    margin-bottom: 5px; /* Odstup od ďalších prvkov */
}

div.label label {
    font-size: 15px; /* Veľkosť písma */
    font-weight: bold; /* Tučné písmo */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px; /* Veľkosť písma */
}


input[type="submit"] {
    width: 100%; /* Šírka tlačidla */
    background-color: rgb(19, 58, 55); /* Farba pozadia tlačidla */
    color: #fff; /* Farba textu tlačidla */
    padding: 10px; /* Odsadenie vnútri tlačidla */
    border: none; /* Odstránenie okrajov tlačidla */
    border-radius: 5px; /* Zaoblenie okrajov tlačidla */
    cursor: pointer; /* Zmena kurzora na ukazovateľ pri najazdení na tlačidlo */
}

input[type="submit"]:hover {
    background-color: #555; /* Farba pozadia tlačidla po najazdení */
}

button[type="submit"] {
    width: 100%; /* Šírka tlačidla */
    background-color: rgb(19, 58, 55); /* Farba pozadia tlačidla */
    color: #fff; /* Farba textu tlačidla */
    padding: 10px; /* Odsadenie vnútri tlačidla */
    border: none; /* Odstránenie okrajov tlačidla */
    border-radius: 5px; /* Zaoblenie okrajov tlačidla */
    cursor: pointer; /* Zmena kurzora na ukazovateľ pri najazdení na tlačidlo */
    margin-top: 10px; /* Odstup nad tlačidlom */
    font-size: 15px;
}

button[type="submit"]:hover {
    background-color: #555; /* Farba pozadia tlačidla po najazdení */
}

/* Tlačidlo Odoslať (ne)preferencie */
button[type="submit"].nepreferencie {
    width: 35%; /* Šírka tlačidla */
    bottom: 20px; /* Odstup od spodnej hrany */
    left: 20px; /* Odstup od ľavej hrany */
    border-radius: 10px; /* Zaoblenie okrajov */
    cursor: pointer; /* Zmena kurzora na ukazovateľ */
}


button[type="submit"].logout {
    float: right;
    width: 10%; /* Šírka tlačidla */
    bottom: 10px; /* Odstup od spodnej hrany */
    right: 5px; /* Odstup od ľavej hrany */
    border-radius: 10px; /* Zaoblenie okrajov */
    cursor: pointer; /* Zmena kurzora na ukazovateľ */
}

button.tlacit {
    display: block;
    width: 65%; /* Šírka tlačidla */
    background-color: rgb(19, 58, 55); /* Farba pozadia tlačidla */
    color: #fff; /* Farba textu tlačidla */
    padding: 10px; /* Odsadenie vnútri tlačidla */
    border: none; /* Odstránenie okrajov tlačidla */
    border-radius: 5px; /* Zaoblenie okrajov tlačidla */
    cursor: pointer; /* Zmena kurzora na ukazovateľ pri najazdení na tlačidlo */
    font-size: 15px;
    margin: 0 auto;
}

.registration-form {
    margin: 0 auto; /* Horizontálne zarovnanie formuláru */
    width: 60%; /* Maximálna šírka formulára */
    padding: 20px; /* Odsadenie okolo formulára */
    background-color: #fff; /* Farba pozadia formulára */
    border-radius: 10px; /* Zaoblenie okrajov formulára */
    text-align: center; /* Zarovnanie obsahu na stred */
}

.form-section {
    margin-bottom: 20px; /* Odstup pod sekciou */
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px; /* Veľkosť písma */
}

select[name="status"] {
    width: 100%;
    padding: 2px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px; /* Veľkosť písma */
}


/* Štýl pre schedule-links */
.schedule-links {
    width: 65%; /* Šírka kontajnera */
    margin: 0 auto; /* Horizontálne zarovnanie do stredu */
    text-align: center; /* Zarovnanie obsahu na stred */
    background-color: #fff; /* Biela farba pozadia */
    padding: 20px; /* Odsadenie okolo obsahu */
    border-radius: 10px; /* Zaoblenie okrajov */
    margin-top: 20px; /* Odstup nad obsahom */
    margin-bottom: 20px; /* Odstup pod obsahom */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Tien */
}

