<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}?v=1.1">
    <title>Vyberte rozvrh</title>
</head>
<body>
    <form action="/logout" method="post">
        <button type="submit" class="logout">Odhlásiť</button>
    </form>
    <h1>Vyberte rozvrh:</h1>
    
    <div class="schedule-links">
        {% for position, position_name in [('lekari', 'Lekári'), ('sestry_JIS', 'Sestry JIS'), ('sestry_odd', 'Sestry Oddelenie'), ('prak_sestry_JIS', 'Praktické sestry JIS'), ('prak_sestry_odd', 'Praktické sestry Oddelenie'), ('oset_JIS', 'Ošetrovatelia JIS'), ('oset_odd', 'Ošetrovatelia Oddelenie')] %}
            <h3><a href="{{ url_for('schedule', position=position, month='current') }}">{{ position_name }} - Aktuálny mesiac</a></h3>
            <h3><a href="{{ url_for('schedule', position=position, month='next') }}">{{ position_name }} - Nasledujúci mesiac</a></h3>
            <h3><a href="{{ url_for('schedule', history='history', position=position) }}" class="history-link">{{ position_name }} - História</a></h3>
        {% endfor %}
    </div>

</body>
<footer>Univerzitná nemocnica Martin, Kollárova 2, 036 59 Martin</footer>
</html>
