<!-- Stranka pre zamestnancov s moznostou (ne)preferencii -->

<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}?v=1.1">
    <title>Kalendár (ne)preferencií</title>
    
</head>
<body>
    <form action="/logout" method="post">
        <button type="submit" class="logout">Odhlásiť</button>
    </form>
    <h1>Kalendár (ne)preferencií: </h1>

    <form action="{{ url_for('schedule') }}" method="get">
        <button type="submit">Zobraziť rozvrh na aktuálny mesiac</button>
    </form>
    <h3><a href="{{ url_for('schedule', history='history') }}">História rozvrhov</a></h3>

    {% if preferences_submitted %}
        {% if preferences_submitted == "Po termíne" %}
            <p>Rozvrh na nasledujúci mesiac už je vygenerovaný.</p>
        {% else %}
            <p>Svoje (ne)preferencie na nasledujúci mesiac už ste zadali.</p>
        {% endif %}
    {% else %}
        <h3> Vyberte z možností a potom zvoľte deň. </h3>
        <form id="preferencesForm" action="/submit_preferences" method="post">
            
            <div class="label">
                <label>Preferencia: </label>
                <input type="radio" name="preference" value="prefer"> Preferovaný
                <input type="radio" name="preference" value="nonprefer"> Nepreferovaný
            </div class="label">

            {% if position != 'lekar' %}
                <div id="shiftButtons" style="display: block;" class="label">
                    <label>Typ služby: </label>
                    <input type="radio" name="shiftType" value="Denná"> Denná
                    <input type="radio" name="shiftType" value="Nočná"> Nočná
                    <input type="radio" name="shiftType" value="Obe"> Obe
                </div>
            {% endif %}

            <div id="reasonInput" style="display: none;" class="label">
                <label>Sila dôvodu: </label>
                <input type="radio" name="reasonStrength" value="Silný"> Silný
                <input type="radio" name="reasonStrength" value="Stredný"> Stredný
                <input type="radio" name="reasonStrength" value="Slabý"> Slabý
            </div>

            <br>

            <table id="calendar">
                <thead>
                    <tr>
                        <th>Po</th>
                        <th>Ut</th>
                        <th>St</th>
                        <th>Št</th>
                        <th>Pi</th>
                        <th>So</th>
                        <th>Ne</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <h3> Zvolené (ne)preferencie:</h3>
            <h5> Deň, preferencia, typ služby, sila dôvodu (ak je deň nepreferovaný) </h5>
            <div id="selectedInfo" style="margin-top: 20px;"></div>

            <!-- Skryté pole pre uloženie informácií zobrazených v selectedInfo -->
            <input type="hidden" id="selectedInfoData" name="selectedInfoData">

            {% if position == 'lekar' %}
                <h6>* lekári si nevyberajú typ služby</h6>
            {% endif %}
            <button type="submit" class="nepreferencie">Odoslať (ne)preferencie</button>

        </form>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const calendarBody = document.querySelector('#calendar tbody');
            const preferenceRadio = document.getElementsByName('preference');
            const shiftButtons = document.getElementById('shiftButtons');
            const reasonInput = document.getElementById('reasonInput');
            const selectedInfo = document.getElementById('selectedInfo');
            const selectedInfoData = document.getElementById('selectedInfoData');
            const currentDate = new Date();
            let currentYear = currentDate.getFullYear();
            let currentMonth = currentDate.getMonth() + 2; // Nasledujuci mesiac
            let selectedCells = [];

            reasonInput.style.display = 'none';

            for (let i = 0; i < preferenceRadio.length; i++) {
                preferenceRadio[i].addEventListener('change', function() {
                    if (this.value === 'nonprefer') {
                        // Zobraziť pole výberu sily dôvodu pri označení "nepreferovaný deň"
                        reasonInput.style.display = 'block';
                    } else {
                        // Skryť pole výberu sily dôvodu pri zrušení označenia "nepreferovaný deň"
                        reasonInput.style.display = 'none';
                    }
                });
            }

            function getDaysInMonth(year, month) {
                return new Date(year, month, 0).getDate();
            }

            function generateCalendar(year, month) {
                const firstDayOfMonth = new Date(year, month - 1, 1);
                const daysInMonth = getDaysInMonth(year, month);
                const startDay = (firstDayOfMonth.getDay() + 6) % 7; // Pondelok je 0, nedeľa je 6

                calendarBody.innerHTML = '';

                let dayCounter = 1;

                for (let i = 0; i < 6; i++) {
                    if (dayCounter > daysInMonth) {
                        // Ak už nie sú žiadne dni, ukonči generovanie
                        break;
                    }

                    const row = document.createElement('tr');

                    for (let j = 0; j < 7; j++) {
                        const cell = document.createElement('td');

                        if (i === 0 && j < startDay) {
                            // Prázdne bunky pred začiatkom mesiaca
                            cell.textContent = '';
                        } else if (dayCounter > daysInMonth) {
                            // Prázdne bunky po skončení mesiaca
                            cell.textContent = '';
                        } else {
                            // Bunky s číslami dní
                            cell.textContent = dayCounter;
                            cell.addEventListener('click', function () {
                                togglePreference(this);
                            });
                            dayCounter++;
                        }

                        row.appendChild(cell);
                    }

                    calendarBody.appendChild(row);
                }
            }

            function togglePreference(cell) {
                const selectedRadio = document.querySelector('input[name="preference"]:checked');
                const reasonStrengthRadio = document.querySelector('input[name="reasonStrength"]:checked');
                
                // Kontrola, či užívateľ zadal všetky údaje
                if (!selectedRadio || (selectedRadio.value === 'nonprefer' && !reasonStrengthRadio)) {
                    alert("Prosím, vyplňte všetky údaje.");
                    return; // Ak nie sú všetky údaje vyplnené, necháme tlačidlá dni neaktívne
                }
                    
                const preferenceType = selectedRadio.value;

                const shiftType = document.querySelector('input[name="shiftType"]:checked') ? document.querySelector('input[name="shiftType"]:checked').value : 'Obe';
                const reasonStrength = reasonStrengthRadio ? reasonStrengthRadio.value : 'N/A';
                const selectedDay = cell.textContent;

                cell.dataset.shiftType = shiftType;
                cell.dataset.reasonStrength = reasonStrength;

                if (preferenceType === 'prefer') {
                    if (cell.classList.contains('selected-nonprefer')) {
                        cell.classList.remove('selected-nonprefer');
                    }
                    cell.classList.toggle('selected-prefer');
                } else if (preferenceType === 'nonprefer') {
                    if (cell.classList.contains('selected-prefer')) {
                        cell.classList.remove('selected-prefer');
                    }
                    cell.classList.toggle('selected-nonprefer');
                }

                displaySelectedInfo();
            }

            function displaySelectedInfo() {
                selectedCells = document.querySelectorAll('.selected-prefer, .selected-nonprefer');
                let selectedText = '';

                selectedCells.forEach(function(cell) {
                const preferenceType = getPreferenceType(cell);

                    if (preferenceType === 'Preferovaný') {
                        // Ak je deň označený ako preferovaný, zobrazujeme aj typ služby
                        const shiftType = cell.dataset.shiftType || 'Obe';
                        selectedText += `${cell.textContent}, ${preferenceType}, ${shiftType} <br>`;
                    } else {
                        // Ak je deň označený ako nepreferovaný, zobrazujeme typ služby a silu dôvodu
                        const shiftType = cell.dataset.shiftType || 'Obe';
                        const reasonStrength = cell.dataset.reasonStrength || 'N/A';
                        selectedText += `${cell.textContent}, ${preferenceType}, ${shiftType}, ${reasonStrength} <br>`;
                    }
            });


                selectedInfo.innerHTML = selectedText;
            }

            function getPreferenceType(cell) {
                if (cell.classList.contains('selected-prefer')) {
                    return 'Preferovaný';
                } else if (cell.classList.contains('selected-nonprefer')) {
                    return 'Nepreferovaný';
                } else {
                    return 'N/A';
                }
            }

            generateCalendar(currentYear, currentMonth);
        });

        document.getElementById('preferencesForm').addEventListener('submit', function() {
            const selectedInfo = document.getElementById('selectedInfo').innerHTML;
            document.getElementById('selectedInfoData').value = selectedInfo;
        });
    </script>
</body>
<footer>Univerzitná nemocnica Martin, Kollárova 2, 036 59 Martin</footer>
</html>
